@tailwind base;

@layer base {
    @font-face {
        font-family: iransans;
        font-style: normal;
        font-weight: normal;
        src: url('../font/IRANSansWeb.ttf');
      }
      
      @font-face {
        font-family: iransans-light;
        font-style: normal;
        font-weight: normal;
        src: url('../font/IRANSansWeb_Light.eot');
        src: url('../font/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), url('../font/IRANSansWeb_Light.woff2') format('woff2'), url('../font/IRANSansWeb_Light.woff') format('woff'), url('../font/IRANSansWeb_Light.ttf') format('truetype');
      }
      
      @font-face {
        font-family: iransans-medium;
        font-style: normal;
        font-weight: normal;
        src: url('../font/IRANSansWeb_Medium.eot');
        src: url('../font/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), url('../font/IRANSansWeb_Medium.woff2') format('woff2'), url('../font/IRANSansWeb_Medium.woff') format('woff'), url('../font/IRANSansWeb_Medium.ttf') format('truetype');
      }
      
      @font-face {
        font-family: iransans-bold;
        font-style: normal;
        font-weight: normal;
        src: url('../font/IRANSansWeb_Bold.eot');
        src: url('../font/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), url('../font/IRANSansWeb_Bold.woff2') format('woff2'), url('../font/IRANSansWeb_Bold.woff') format('woff'), url('../font/IRANSansWeb_Bold.ttf') format('truetype');
      }

}
body {
    @apply font-iransans;
    @apply text-gray-500 dark:text-gray-400;
    @apply bg-slate-50 dark:bg-slate-800;
    @apply overflow-hidden
  }

a, p, h1, h2, h3, h4, h5, h6, span {
  @apply selection:bg-violet-700;
  @apply selection:text-white
} 
    
@tailwind components;

@layer components{
  .solid-b {
    @apply border-b-2 border-solid;
  }
  .dash-b {
    @apply border-b-2 border-dashed;
  }
  .solid {
    @apply border-2 border-solid;
  }
  .center{
    @apply flex items-center justify-center
  }
  .slider{
    @apply text-lg center rounded-xl bg-gray-400 dark:bg-slate-700
  }
}

@tailwind utilities;



[x-cloak] { display: none !important; }